body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-image: url('images/TADSADVENTURE.png');
}

.borda {
    border: 6px solid black;
    border-radius: 15px;
}